* {
    box-sizing: border-box;
  }

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;

}  

h2 {
    color: #d1af96;
}

.container {
      max-width: 100%;
      margin: 0 auto;
      background-color: #d1af96;
  }


  /* Header */

  .nav {
    align-items: center;
  }

  .nav-list {
      display:flex;
      justify-content: flex-end;
      align-items: center;
      margin: 0;
      
  }

  .nav-item {
      list-style: none;
  }

  .nav-link {
      text-decoration: none;
      padding: 20px;
      line-height: 80px;
      color: #413129;
  }

  .nav-link:hover {
    color: #fefefe;
}

.menu-nav {
    display: none;
    margin-left: 85vw;
    background: url(../img/menu.png);
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    cursor: pointer;
  }
  

  .close-img {
    display: none;
    background: url(../img/close.png);
    background-size: cover;
    width: 40px;
    height: 40px;
    margin: 32px 0;
    cursor: pointer;
  }


/* Main */

.main-wrapper {
    display: flex;
}

.left-wrapper {
    background-color: #fefefe;
    width: 40%;
    padding: 4%;
    align-items: center;
}

.profile-image {
      height: 200px;
      width: 200px;
      margin-bottom: 10px;
  }

  .profile-name-desktop {
    display: none;
  }


.contacts-link {
    text-decoration: none;
    color: #d1af96;
}

.right-wrapper {
    background-color: #f5efec;
    width: 60%;
    padding: 4%;
}

.profile-heading {
    font-size: 60px;
    color: #413129;
    margin-bottom: 0;
}

.profile-subtitle {
    font-size: 30px;
    padding-bottom: 25px;
    color: #d1af96;
}

.projects-link {
    text-decoration: none;
    color: blue;
}

.projects-link:hover{
    color: #d1af96;
    text-decoration: underline;
}

.about-me-section,
.contacts-section,
.skills-section,
.code-section,
.projects-section,
.education-section,
.languages-section {
    padding-top: 16px;
}


/* Footer */

.footer-wrapper {
    height: 5rem;
    background-color: #d1af96;
    color: #413129;;
    display: flex;
    justify-content: center;
    align-items: center;
}

.git-link {
    text-decoration: none;
    color: #413129;
    padding-right: 50px;
}

.git-link:hover {
    color: white;
}



@media (max-width: 768px) {

    .container {
        padding-top: 42px;
    }

    .nav {
        display: none;
    }

    .menu-nav {
        display: block;
    }

    .nav-list {
        flex-direction: column;
        gap: 10px;
        position: absolute;
        z-index: 1;
        top: 0;
        right: 0;
        overflow:hidden;
        width: 60%;
        background-color: #e7c7b1;
        padding: 100px;
        padding-bottom: 50px;
        margin-top: -20px;
        transition: ease 0.5s;
        /* height: 100vw; */
      }

      .nav-link {
        padding: 0;

      }

      .close-img {
        display: inline-block;
        position: absolute;
        top: 42px;
        right: 25px;
      } 
  
      .open {
        display: flex;
      }

      .profile-name {
        display: none;
      }

      .profile-name-desktop {
        display: block;
      }

      .main-wrapper {
        display: block;
        text-align: center;
      }

      .main-wrapper li {
        list-style: none;
      }

      .left-wrapper {
        width: 100%;
      }

      .right-wrapper {
        width: 100%;
      }

}

@media (max-width: 450px) {

    .profile-heading {
        font-size: 40px;
    }

    .nav-list {
        padding: 100px 30px;

    }

}